.progress__container {
  border: 1px solid black;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 10px;
}

.progress__container .progress__percent {
  background-color: green;
  color: white;
  padding: 8px 0;
  border-radius: 10px;
  text-align: right;
  padding-right: 4px;
  transition: 0.3s;
}
